<div class="modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить новый фильм</h5>
        <button type="button" id='closeModal' class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="w-75 mx-auto" id="modalForm">
            <div class="form-group">
              <label>Название фильма:</label>
              <input required type="text" name="movie-name" class="form-control">
            </div>
            <div class="form-group">
              <label>Оригинальное название фильма:</label>
              <input required type="text" name="original-movie-name" class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="upload-poster-addon">Постер</span>
              </div>
              <div class="custom-file">
                <input required type="file" class="custom-file-input" name="poster" id="upload-poster" aria-describedby="upload-poster-addon">
                <label class="custom-file-label" for="upload-poster">Выберите файл</label>
              </div>
            </div>
            <fieldset class="form-group" id="fieldset">
              <legend class="col-form-label pt-0">Детальная информация:</legend>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Год:</label>
                <div class="col-sm-10">
                  <input required type="text" name="year" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Страна:</label>
                <div class="col-sm-10">
                  <input required type="text" name='country' class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Слоган:</label>
                <div class="col-sm-10">
                  <input required type="text" name="tagline" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Режиссер:</label>
                <div class="col-sm-8">
                  <input required type="text" name="director" class="form-control">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-primary btn-add-field" id="addField" type="button"><svg class="octicon octicon-plus" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path></svg></button>
                </div>
              </div>
              <% if(thisMovie) { %>
                <% for (let i = 0; i < thisMovie[0].additionalPositions.length; i++) { %>
                  <div class="add-field form-group row">
                    <div class="col-sm-5">
                      <input required type="text" name="add-position" class="form-control add-position" placeholder="Должность">
                    </div>
                    <div class="col-sm-5">
                      <input required type="text" name="add-name" class="form-control add-name" placeholder="Имя">
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-danger btn-sm btn-remove-field" id='removeField' type="button"><svg class="octicon octicon-x" viewBox="0 0 14 18" version="1.1" width="14" height="18" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg></button>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </fieldset>
            <div class="form-group">
              <label>В ролях:</label>
              <textarea class="form-control" name="actors" rows="3"></textarea>
              <small class="form-text text-muted">Укажите актеров через запятую.</small>
            </div>
            <div class="form-group">
              <label>Рейтинг IMDB:</label>
              <input type="text" name="imdb" class="form-control">
            </div>
            <div class="form-group">
              <label>Описание:</label>
              <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id='cancelModal'>Отменить</button>
        <button type="submit" class="btn btn-primary mr-3" form="modalForm" id="saveModal">Сохранить</button>
      </div>
    </div>
  </div>
</div>